################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PWManager/PWManager/obj/Debug
/PWManager/.vs/PWManager/v15/Server/sqlite3
